<form class="center" [formGroup]="calculatorForm"  class="form-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>VAT Calculator</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <mat-label class="form-inline">Country</mat-label>
          <select class="form-inline" matNativeControl [(ngModel)]="countryArray">
            <option value="" selected></option>
            <option *ngFor="let country of countryArray" [value]="countryArray">
              {{country}}
            </option>
          </select>
          <mat-label>VAT Rates</mat-label>


              <ul>
                <li *ngFor="let vatRate of countryVatData">
                  <mat-checkbox>
                   
                  </mat-checkbox>
                </li>
              </ul>
        </div>
        <div class="row">
          <mat-label>Price without VAT</mat-label>
          <mat-form-field>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-label>Price without Tax</mat-label>
          <mat-form-field>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-label>Price incl. VAT</mat-label>
          <mat-form-field>
            <textarea matInput></textarea>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>
  </form>